.demoPage {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 20px;
}

.demoPage .screenContainer {
  background: rgba(0, 0, 0, 0.8);
  border: 20px solid rgba(0, 0, 0, 0.1);
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.demoPage .inputContainer {
  color: rgba(255, 255, 255, 0.9);
  background: transparent;
  border: none;
  outline: none;
  font-family: monospace;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.simple-keyboard.hg-layout-custom {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.simple-keyboard .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}
